# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/e2e-results
/playwright-report
/test-results

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build
/dist

# Misc
.DS_Store
*.pem
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env.host
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Prisma
prisma/migrations/*_migration

# IDE
.idea/
.vscode/*
!.vscode/settings.json
*.swp
*.swo
*~

# OS
Thumbs.db

# Logs
logs
*.log

# Worker
/worker/logs

# Temp
.temp
tmp/
