version: '3.8'
services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: baklava
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"

  web:
    build: .
    command: npm run dev
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - ./:/app
      - node_modules:/app/node_modules

  worker:
    build: .
    command: npm run worker:notifications
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
    volumes:
      - ./:/app
      - node_modules:/app/node_modules

  quick:
    build: .
    command: node ./quick-service/index.js
    ports:
      - "5001:5001"
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
    volumes:
      - ./:/app
      - node_modules:/app/node_modules

volumes:
  pgdata:

  node_modules:
